<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="jug.zg.emf.sirius.example.design.Activator"
               id="jug.zg.emf.sirius.example.design"
	       name="demo">
    </component>
  </extension>
</plugin>
