<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="jug.zg.emf.e4.example"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/jug.zg.emf.example.e4/css/default.css">
         </property>
         <property
               name="appName"
               value="jug.zg.emf.e4.example">
         </property>
      </product>
   </extension>
</plugin>
